@inherits LayoutComponentBase


<div class="d-flex" style="height:100vh">

    <div class="bg-dark text-white p-3" style="width:220px">
        <NavMenu />
    </div>

    <div class="flex-fill p-4">
        @Body
    </div>

</div>
